# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Data Files
*.csv
*.xlsx

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.pkl
*.joblib
